<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partial/head %>
</head>
<body>
<header>
    <% include ./partial/header %>
</header>
<div class="col-md-12 col-search">
</div>
<div class="container">
    <% store_array.forEach(function (store) { %>
    <div class="row row-storedetails">
        <div class="col-md-12 col-storedetails">
            <img style="width: 100%;" src="<%= store.cover %>">
            <img class="avt-store" src="<%= store.logo %>">
        </div>
        <div class="col-md-12 store-details">
            <center>
                <p>

                <h3><%= store.store_name %></h3></p>
                <p><%= store.phone %></p>

                <p><%= store.address[0].street + ", " + store.address[0].district + ", " + store.address[0].city %></p>

                <p><%= store.website %></p>

                <p><%= store.description %></p>

                <p><%= store.hours_of_work %></p>
            </center>
        </div>
    </div>
    <% }) %>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-3 ">
                <a href="#" style="height: 300px;width: 220px;" data-toggle="modal" data-target=".bs-example-modal-lg">
                    <div class="items-div">
                        <a href="insert_product?id=<%= store_id %>">
                            <i style="padding-top: 55%;padding-left: 43%"
                               class="fa fa-plus-square fa-4x"></i>
                        </a>
                    </div>
                </a>
            </div>
            <% product_array.forEach(function (product) { %>
            <div class="col-md-3 ">
                <center>
                    <div class="items-div">
                        <table>
                            <tbody>
                            <tr>
                                <td>
                                    <center>
                                       <p class="p-details"> <%= product.media[0].media_name %></p>
                                    </center>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    <center>
                                        <img src="<%= product.media[0].media_url %>" class="img-up">
                                    </center>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <center>
                                        Tag :
                                        <% product.tags.forEach(function(tag){ %>
                                        <a href="tags?tag=<%=tag%>"><p class="label label-primary "><%=tag%></p></a>
                                        <% }) %>
                                    </center>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    <center>
                                        <a href="edit_product?id=<%= product._id %>" class="btn btn-primary"
                                           style="width: 95% ; margin-top: 10px;">Edit
                                            Product
                                        </a>
                                    </center>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </center>
            </div>
            <% }) %>
        </div>
    </div>
</div>

<footer>
    <% include ./partial/footer %>
</footer>
</body>
</html>