<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partial/head %>
</head>
<body>
<header>
    <% include ./partial/header %>
</header>
<div class="col-md-12 col-search">
    <a href="insert_product?id=<%= store_id %>">Add product for store <%= store_id %></a>
    <br>
    <% product_array.forEach(function(product){ %>
    <a href=edit_product?id=<%= product._id %>><%= product.product_name %></a>
    <img src="<%= product.media[0].media_url%>">
    <br>
    <% }) %>
</div>
</body>
</html>